*{
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    min-height: 1500px;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

section:before{
     content: '';
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 100px;
     background: linear-gradient(to top, #000000, transparent);
     z-index: 1000;
   
}

#man {
    top: 100px;
}

section img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


section h1 {
    position: absolute;
    top: 150px;
    left: 10%;
    color: rgb(59, 53, 85);
    font-size: 5em;
    background-color:transparent;
}



.secondary {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
    border: teal;
}

a {
    padding: 20px;
    color: rgb(64, 248, 217);
    font-size:1.5em;
    text-decoration: none;
}